# Ignore Unity-generated folders
Library/** linguist-vendored
Temp/** linguist-vendored
obj/** linguist-vendored
build/** linguist-vendored
Logs/** linguist-vendored

# Ignore external packages
Packages/** linguist-vendored
ProjectSettings/** linguist-vendored
UserSettings/** linguist-vendored